<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="css/Style.css">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <title>WGSA</title>
    <link rel="icon" href="/images/logo.svg">

</head>

<body>
    <header>
        <section class="nav-container">
            <nav>
                <div class="logo">
                    <span class="lgci"> </span>
                    <a href="/">
                        <h2>WSGA</h2>
                    </a>
                </div>
                <ul>
                    <li><a href="plans"> Plans</a></li>
                    <li><a href="Offers">Offers</a></li>
                    <li><a href="FAQS">FAQS</a></li>
                    <li><a href="Login"> <Button class="log-btn">log out</Button> </a></li>
                </ul>
            </nav>
        </section>
        <hr class="Line" />
    </header>
    
    
    <main class="CS">
        
        <div class="siden">
            <div class="listContainer">
                <ul>
                    <div class="listElement">
                        <li><a href="#Cusomerinfo">Customer info</a></li>
                    </div>
                    <div class="listElement">
                        <li><a href="#AddNewUser">New Customer</a></li>
                    </div>
                </ul>
            </div>
        </div>
        
        
        <div class="CSBody">
            
            <div class="FormContainer" id="Cusomerinfo">
                <form action="/getCustomerinfo" method="POST">
                    
                    <div class="input">
                        <input placeholder="Phone Number" type="number" name="Phone_number" required>
                    </div>
                    
                    <div class="input">
                        <button class="log-btn" value="getCustomerinfo">Get Customer info</button>
                    </div>
                    
                </form>
            </div>
            <% if (errmessage) { %>
                <div class="alertErr" >
                    <%= errmessage %>
                </div>
                <% } %>
            <% if (successMes) { %>
                <div class="alertSuccess">
                    <%= successMes %>
                </div>
                <% } %>
            <% if (result){ %>
                <div class="FormContainer">
                    <form action="/change_cplan" method="POST">
                        <table>
                            <tr>
                                <th>Name :</th>
                                <td>
                                    <%=result[0].Fname%>
                                    <%=result[0].Lname%>
                                </td>
                            </tr>
                            <tr>
                                <th>ID :</th>
                                <td>
                                    <%=result[0].Id%>
                                </td>
                            </tr>
                            <tr>
                                <th>Phone Number</th>
                                <td>
                                    <input type="text" name="phone_num" value="<%=result[0].Phone_num%>" hidden>
                                    0<%=result[0].Phone_num%>
                                </td>
                            </tr>
                            <tr>
                                <th>Plan: </th>
                                <td>
                                    <select name="plan_code" id="plan">
                                        <% for (row of plans){ %>
                                            <% if(row.plan_code==result[0].Plan_code){ %>
                                                <option value="<%=row.plan_code%>" selected>
                                                    <%=row.plan_name%>
                                                </option>
                                                <%}else{%>
                                                    <option value="<%=row.plan_code%>">
                                                        <%=row.plan_name%>
                                                    </option>
                                                    <% } %> 
                                                    <% } %>
                                                </select>
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <th>Renewal Date: </th>
                                            <td>
                                                <%=result[0].Renewal_date%>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Balance : </th>
                                            <td>
                                                <%=result[0].Balance%> Egp
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Gender </th>
                                            <td>
                                                <%=result[0].Gender%>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Address </th>
                                            <td>
                                                <%=result[0].Address%>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Used Minutes </th>
                                            <td>
                                                <%=result[0].Used_min%> Minute
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Used Megabytes </th>
                                            <td>
                                                <%=result[0].Used_megas%> Megabytes
                                            </td>
                                        </tr>
                                    </table>
                                    <button type="submit" class="log-btn">Save Changes</button>
                                </form>
                            </div>
                            <%}%>


                            
                            
                            <p>
                                <a class="btn btn-primary" style="border-radius: 2em; margin: 2em 0 0 11em;"
                                data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"
                                aria-controls="multiCollapseExample1">Add New Complaint</a>
                            </p>
                            <div class="FormContainer">
                                <form action="/Complain_processCS" method="POST">
                                    <div class="collapse multi-collapse" id="multiCollapseExample1">
                                <div class="input">
                                    <input placeholder="Phone Number" type="number" name="Phone_numberC" required>
                                </div>

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Write your complaint </label>
                                    <textarea required name="User_Complaint" id="complaint_area" class="form-control"
                                        rows="3"></textarea>
                                </div>


                                <button onclick="whenssubmitisclicked()" id="submitbtn" type="submit"
                                    class="btn btn-success">Submit</button>
                                <button onclick="whencancelisclicked()" id="cancelbtn" type="button"
                                    class="btn btn-danger">Cancel</button>

                        </form>

                    </div>
        </div>

        <br>
        <hr class="Line" /><br>
        <div class="FormContainer" id="AddNewUser">
            <form action="/Add_Customer" method="POST">
                <div class="name-cont">
                    <input placeholder="First name" type="text" name="Fname" required>
                    <input placeholder="Last Name" type="text" name="Lname" required>
                </div>
                <div class="input">
                    <input placeholder="Phone number" type="number" name="Phone_num" required>
                    <img src="../images/phone.svg">
                </div>

                <div class="input">
                    <input placeholder="ID" type="number" name="Id" required>
                    <img src="../images/ID.svg">
                </div>
                <div class="input" >
                    <select name="Plan_codeN" id="plan" >
                        <% for (row of plans){ %>

                                <option value="<%=row.plan_code%>">
                                    <%=row.plan_name%>
                            </option>
                            <% } %>
                    </select>
                </div>

                <div class="input">
                    <input placeholder="Address" type="text" name="Address" required>
                </div>
                <div class="input">
                    <input placeholder="Password" type="Password" name="Password" required>
                </div>


                <p>Gender:</p>
                <div class="gender">
                    <div>
                        <input type="radio" id="Male" name="gender" value="Male" required>
                        <label for="Male">Male</label><br>
                    </div>
                    <div>
                        <input type="radio" id="Female" name="gender" value="Female">
                        <label for="Female">Female</label>
                    </div>
                </div>
                <div class="input">
                    <button class="reg-btn" type="submit"> Register </button>
                </div>
            </form>
        </div>

        </div>

    </main>

</body>

</html>