<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/Style.css">
    <title>WGSA</title>
</head>

<body>
        <header>
            <section class="nav-container">
                <nav>
                    <div class="logo">
                        <span class="lgci"> </span>
                        <a href="/">
                            <h2>WSGA</h2>
                        </a>
                    </div>
                    <ul>
                        <li><a href="plans"> Plans</a></li>
                        <li><a href="Offers">Offers</a></li>
                        <li><a href="FAQS">FAQS</a></li>
                        <li><a href="Login"> <Button class="log-btn">Log in</Button> </a></li>
                    </ul>
                </nav>
                <hr class="Line" />
            </section>
        </header>
     
     

            <% for(var row of result) { %>
                  <div  class="alert alert-light" role="alert">
                    <ul class="list-group">
                        <li  style="color:black;" class="list-group-item">Offer number :<%=row.Offer_num%></li>
                        <li style="color:black;" class="list-group-item">Offer describtion:<%=row.Offer_describ%></li>
                        <li style="color:black;" style="color:black;" class="list-group-item">price:<%=row.Price%> </li>
                        <li style="color:black;" class="list-group-item">Minutes:<%=row.Minutes%></li>
                        <li style="color:black;" class="list-group-item">Megas:<%=row.Megas%></li>
                      </ul>
                  </div>
              <%}%>


              

</body>

</html>